<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Localux
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="prestige-home" scroll-y="false">

  <!-- Image de fond -->
  <div class="background-overlay"></div>

  <div id="container" class="slide-up">
    <ion-icon name="car-sport-outline" class="icon-car"></ion-icon>

    <strong class="home-title">Votre Voyage, Notre Passion</strong>
    <p class="home-subtitle">Explorez l'élégance sur quatre roues.</p>

    <ion-button expand="block" class="prestige-button" routerLink="/destination">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      Choisissez votre destination
    </ion-button>

    
  </div>
</ion-content>
