<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/liste-avec-chauffeur" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Choix des Dates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="titre">Dates de réservation</h2>

  <ion-item lines="inset">
    <ion-label position="stacked">Date de début</ion-label>
    <ion-datetime
      display-format="YYYY-MM-DD"
      presentation="date"
      [(ngModel)]="dateDebut">
    </ion-datetime>
  </ion-item>

  <ion-item lines="inset" class="ion-margin-top">
    <ion-label position="stacked">Date de fin</ion-label>
    <ion-datetime
      display-format="YYYY-MM-DD"
      presentation="date"
      [(ngModel)]="dateFin">
    </ion-datetime>
  </ion-item>

  <ion-button expand="block" color="danger" class="ion-margin-top" (click)="validerDates()">
    Valider
  </ion-button>
</ion-content>
