<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Sélection du Véhicule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="luxury-content">
  <div class="page-content">
    <h2 class="page-title">🚗 Choisissez votre véhicule de luxe</h2>

    <ion-card *ngFor="let vehicule of vehicules" 
              (click)="selectionnerVehicule(vehicule)"
              [class.selected]="vehiculeSelectionne?.id === vehicule.id"
              class="vehicule-card">
      <ion-img [src]="vehicule.photo || './assets/icon/placeholder.jpg'" class="vehicule-image"></ion-img>
      
      <ion-card-header>
        <ion-card-subtitle>
          <ion-icon name="car-sport-outline" class="icon-style"></ion-icon> Modèle
        </ion-card-subtitle>
        <ion-card-title>{{ vehicule.libelle }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-button expand="block" color="danger" (click)="validerSelection()">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      Valider la sélection
    </ion-button>
  </div>
</ion-content>
